@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/basement-grotesque.css";

html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.gradient{
  background: linear-gradient(180deg, #1D1D1D 0%, rgba(21, 21, 21, 0) 100%);
  transform: rotate(-180deg);
  height: 577px;
}

p.text-animation{
  animation: scrollLeft 5s linear infinite
}

@keyframes scrollLeft {
  0%{transform: translateX(0);}
  100%{transform: translateX(-64%);}
}